@model ITSL_Administration.Models.EventSchedule

<div>
    <h5>@Model.Title</h5>
    <p><strong>Start:</strong> @Model.Start</p>
    <p><strong>End:</strong> @Model.End</p>
    <p><strong>Description:</strong> @Model.Description</p>
</div>
