@{
    ViewData["Title"] = "Donate to ITSL";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container-fluid">
    <h2>
        We would like to thank you for donating  to our cause
    </h2>
</div>