@{
    ViewData["Title"] = "About ITSL Administration";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container-fluid">
    <p class="text-center mb-4">
        <strong>You have been logged out of your account.</strong>
    </p>
</div>